@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

$green:#219150;
$black: #10221b;
$white: #fff;
$light-bg:#eee;
$border: .2rem solid $black;
$box-shadow:0 .5 rem 1rem rgba(0,0,0,1);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fir, minmax($val,1fr));
    gap:1.5rem;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}
html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #fff;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #10221b;
  }

// start navbar

  .header{
    position: fixed;
    top: 0; left: 0; right:0;
    padding: 2rem 9%;
    z-index: 100000;
    display: flex;
    align-items: center;
    
    
    
    .logo{
        margin-right: auto;
        font-size: 2.5rem;
        color: $black;
        font-weight: bolder;
        i{
            color:$green;
        }
    }

    .navbar{
        a{
            margin-left:2rem;
            font-size: 1.7rem;
            color: $black;
            &:hover{
                color: $green;
            }
        }
        #nav-close{
            font-size: 5rem;
            cursor: pointer;
            color: $black;
            display: none;

        }
        
    }
    
    .icons a,
    .icons div{
        font-size: 2.5rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $black;

        &:hover{
            color: $green;
        }
    }

    #menu-btn{
        display: none;  
    }
    .active{
        background-color: #fff;
    }

  }

  

  .login{
    padding: .2rem 1rem .2rem 1rem;
    margin-left: 2rem;
    border:1px solid $black;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover{
        color: $green;
        border:1px solid $green;
    }
  }
//   start main

.content{
    padding: 5% 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        margin-bottom: 2rem;
        font-size: 28px;
    }
    img{
        width: 400px;
        height: 400px;
        margin-bottom: 3.5rem;
    }
    p{
        font-size: 13px;
        text-align: justify;
        margin-bottom: 3.5rem;
    }
}

// end 

.footer{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../home/footer-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    .box-container-foot{
        @include grid(25rem);
        display: flex;
        justify-content: center;
        
        // align-items: center;
        .box-foot{
            padding-right: 30%;
            padding-left: 10%; 
            h3{
                font-size: 2rem;
                padding: 1.5rem 0;
                color: $white;

            }

            a{
                display: block;
                font-size: 1.2rem;
                color: $white;
                padding: 1rem 0;
            }
            i{
                color: $green;
                padding: .5rem;
            }
            &:hover{
                color: $green;
                i{
                    padding-right: 2rem;
                }
            }
        }
    }
}